*,
*:before,
*:after {
    box-sizing:inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

/*Se le agrega una imagen al header para que esta este de fondo*/
header {
    background: url(./img/captura1.png);
    background-size:cover;
}


/*style de imagen de fondo de header*/
.imgh{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
}
/*se le da tamaño a la imagen de fondo de header*/
.imgh img{
    width: 150px;
    height: 150px;
    margin: 40px  40px;
    padding-bottom: 40px;
    text-align: center;
    
}

/*Se le asignan caracteristicas de h1 al titulo a Planificador de Gastos, esta aparece en las 2 pantallas principales*/
header h1 {
    padding: 3rem 0;
    margin: 20px;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 4rem;
    text-shadow: 1px 2px rgb(148, 70, 212);
}

.contenedor {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}

/*Este contenedor tiene el mismas caracteristicas para el presupuesto inicial y donde se observa la grafica */
.contenedor-presupuesto {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(3rem);
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 1px 2px rgb(149, 152, 152);
    min-width: 50rem;
   
}

/*Aqui se le asignan estilos a presupuesto, gastado y disponible */
.contenedor-presupuesto span{
    font-weight: 900;
    color:#7E57C2;
    font-size: 3rem;
}

/*este es un div que engloba los presupuestos, gastado y disponible sin la grafica, estan a mismo nivel que grafica y dentro de contenedor-presupuesto*/
.contenido-presupuesto {
    width: 100%;
}

.contenido-presupuesto p {
    font-weight: 400;
    color: #454444;
    font-size: 2.2rem;
    text-align: center;
}

@media (min-width: 750px) {
    .contenido-presupuesto p {
        text-align: left;
    }
}

/*Se le da estilos a la validacion de error esta en funciones.jsx y se visualiza dentro de tercera pantalla o modal*/
.error{

    background-color:  red;
    color: white;
    text-align: center;
    font: bold;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*Son estilos del form que se visualiza en la tercera pantalla*/
.formulario {
    width: 95%;
    margin: 0 auto;
    padding: 10rem 0;
}
@media (min-width: 800px) {
    .formulario {
        padding: 4rem 0;
        width: 60rem;
    }
}
.formulario legend {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    display: block;
    color: white;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 4px solid blueviolet;
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/*hace que los inputs tengan estilos, padding hace el ancho de los inputs igual al submit*/
.formulario input[type="text"],
.formulario input[type="number"] {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    font-size: 1.8rem;
}

/*Aqui se le da estilos al submit, hay efecto de iluminacion al hacer click al elemento submit*/
.formulario input[type="submit"] {
    background:linear-gradient(90deg, transparent, blueviolet);
    padding: 1.8rem;
    text-align: center;
    margin-top: 5rem;
    color: white;
    font-weight: 900;
    font-size: 1.9rem;
    width: 100%;
    transition: 0.2s;
    border: 1px solid #7E57C2;
    border-radius: 10px;
}
/*hace que el tamaño del submit sea igual que los inputs*/
@media (min-width: 750px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 0;
    }
}
/*Se le da estilo con hover para el efecto de luminocidad*/
.formulario input[type="submit"]:hover {
    background-color: #64B5F6;
    cursor: pointer;
    box-shadow: 0 0 10px #64B5F6, 0 0 20px #64B5F6, 0 0 20px #64B5F6;
    transition-delay: 0.25s;
    border: 1px solid rgb(246, 241, 241);
}

/*Se le da estilos al select de las categorias en tercerapantalla.jsx*/
.formulario select {
    flex: 1;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
}

/*clasname lo tiene presupuesto.jsx(en el div fuera de form), filtroGastos.jsx(tiene contenedor para darle estilos al select de filtro), gastolista.jsx tiene contenedor para los divs de los gastos*/
.contenedor {
    width: 80%;
    max-width: 70rem;
    margin: 0 auto;
}
/*se le asigna un clasname al div de grafica para no modificar el ancho de los demas contenedores*/
.contenedor .grafica{
    width: 20rem;
    padding: 20px;
}

/*Se le asigna classname al div diferente para los estilos en modo columnas del los parrafos y el div de grafica */
.grafica-gastos {
    flex-direction: column;
}
.grafica-gastos :first-child {
    margin-bottom: 4rem;
}
@media (min-width: 768px) {
    .grafica-gastos {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    .grafica-gastos > div {
        width: 50%;
    }
    .grafica-gastos :first-child {
        margin-bottom: 0;
    }
}
/*estilo de grafica*/
.CircularProgressbar .CircularProgressbar-text {
    font-size: 1rem !important;
}


/*Se le da estilos a los div de los gastos que se creen*/
.listado-gastos{
    width: 100%;
    display:grid;
    justify-content: center;
    
}

.listado-gastos h2 {
    margin-top: 100px ;
    margin-bottom: 20px;
    color: #7E57C2;
    font-weight: 900;
    text-align: center;
    
}


.contenido-gasto {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 1px 2px #5E35B1;
    margin-bottom: 20px;
    
}

.contenido-gasto img {
    width: 10rem;
    margin: 20px 0 20px 10px;
}

.descripcion-gasto {
    padding: 10px 10px 10px 100px;
    min-width: 500px;
   
}
.descripcion-gasto .categoria {
    color: skyblue;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.descripcion-gasto .nombre-gasto {
    color: green;
    font-size: 20px;
    font-weight: 700;
}
.descripcion-gasto .nombre-gasto:hover {
    cursor: pointer;
}
.descripcion-gasto .fecha-gasto {
    font-size: 1.6rem;
    font-weight: 900;
    color: gray;
}
.contenido-gasto .cantidad{
    font-size: 2rem;
    font-weight: bold;
    color: #5E35B1;
    padding: 0 70px 0 0;
}
/*Estilos para el texto de agregar gasto en imagen*/
.nuevo-gasto {
    position: fixed;
    top: 20px;
    right: 5rem;
    text-align: center;
    color: #42A5F5;
    text-shadow: 1px 2px rgb(29, 29, 29);
}
/*imagen de gasto nuevo*/
.nuevo-gasto img {
    width: 5rem;
}
.nuevo-gasto img:hover {
    cursor: pointer;
}

/*Se le da estilo al classname del modal div general de tercerpantalla.jsx */
.terceraPantalla {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.92);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*le da estilos a la x de cerrar*/
.terceraPantalla .cerrarImg {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 3rem;
    height: 3rem;
}
/*imagen de x se le da estilo de anchura*/
.terceraPantalla .cerrarImg img {
    width: 100%;
}
/*style para el formulario del modal*/
.terceraPantalla .formulario {
    max-width: 80rem;
    width: 40rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}

body .terceraPantalla {
    overflow: hidden;
}

.terceraPantalla .formulario.animar {
    position: relative;
    opacity: 1;
}

.terceraPantalla .formulario.cerrar {
    opacity: 0;
}

.terceraPantalla label {
    text-align: left;
    color: white;
    font-weight: 500;
}

/*estilos de swipeaction de editar*/
.swipe-action__leading{
    background-color: #81C784;
    color: white;
    margin-bottom: 2rem;
    font-size: 3rem;
    border-radius: 20px;
}
/*swepeaction de eliminar*/
.swipe-action__trailing{
    background-color: #E53935;
    color: white;
    margin-bottom: 2rem;
    font-size: 3rem;
    border-radius: 20px;
}
/*estilo en general de swipe*/
.swipeable-list .swipe-action{
    display: flex;
    align-items: center;
    justify-content: center;
}

/**/

.filtros{
    margin-top: 50px;
}

.filtros .campo {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.filtros label {
    font-size: 3rem;
    font-weight: 900;
    color: black;
}

/*da estilos al select de filtro*/
.filtros select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(153, 114, 200);
}

.reset-app {
    border: none;
    background-color: #db2777;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: 300ms;
}
.reset-app:hover {
    background-color: #c71465;
    cursor: pointer;
}

.contenido-presupuesto p.negativo,
.contenido-presupuesto p.negativo span {
    color: red;
}


.formulario input[type="text"].nuevo-presupuesto, 
.formulario input[type="number"].nuevo-presupuesto {
    font-size: 2.8rem;
    text-align: center;
}
